.grp-dtls-wrap{
    .grid {
        height: 100%;
        .grpdetail-wrap {
            width: 100%;
            max-width: 700px;
            margin: 0 auto;
            padding: 20px 0;
            h4 {
                text-align: center;
                font-size: 24px;
                font-weight: 700;
                color: #2E4064;
                padding-bottom: 15px;
                text-transform: capitalize;
            }
            ul {
                padding: 20px 0;
                width: 100%;
                max-width: 700px;
                text-align: center;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                li{
                    padding: 10px 20px;
                    background: rgba(175, 169, 169, 0.6);
                    font-weight: 600;
                    display: inline;
                    margin: 0 0 15px 15px;
                    border-radius: 15px;
                    &:first-child{
                        margin-left: 0;
                    }
                }
            }
        }
        .inner-wrap {
            height: calc(100vh - 350px);
            overflow-y: auto;
            &::-webkit-scrollbar {
                width: 10px;
            }
            &::-webkit-scrollbar-track {
                background: #f2f2f2; 
            }
            &::-webkit-scrollbar-thumb {
                background: #041e38; 
            }
            &::-webkit-scrollbar-thumb:hover {
                background: #2E4064; 
            }
            .exp-wrap, .td-wrap{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .exp-wrap{
                margin-bottom: 50px;
            }
            .td-wrap{
                position: relative;
                &:before{
                    content: '';
                    position: absolute;
                    width: 70%;
                    height: 1px;
                    top: -20px;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: rgba(46, 64, 100, 0.3);
                }
            }
            .left-wrap {
                width: 100%;
                max-width: 300px;
                h4 {
                    text-align: center;
                    font-size: 24px;
                    font-weight: 700;
                    color: #2E4064;
                    padding-bottom: 15px;
                    text-transform: capitalize;
                }
                ul {
                    padding: 20px 40px;
                    border: solid 1px #2E4064;
                    border-radius: 30px;
                    width: 100%;
                    max-width: 300px;
                    text-align: center;
                    li{
                        padding: 10px;
                        margin-top: 15px;
                        background: rgba(175, 169, 169, 0.6);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 10px;
                        font-size: 15px;
                        font-weight: 600;
                        &:first-child{
                            margin-top: 0;
                        }
                        a{
                            text-decoration: none;
                            color: #000;
                        }
                    }
                    
                }
            }
            .right-wrap{
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 170px;
                    text-align: center;
                    height: 70px;
                    background: #2E4064;
                    border-radius: 5px;
                    color: #fff;
                    font-size: 18px;
                    font-weight: 700;
                    cursor: pointer;
                    transition: all 450ms;
                    position: relative;
                    text-decoration: none;
                    margin: 49px 0 0 49px;
                    &:hover{
                        transform: scale(1.1);
                    }
                    img{
                        height: 20px;
                        position: absolute;
                        right: 6px;
                        top: 6px;
                        transform: rotate(10deg);
                    }
                }
            }
            @media only screen and (max-width: 580px){
                .exp-wrap, .td-wrap{
                    flex-flow: column;
                    .right-wrap a{
                        margin-left: 0;
                    }
                }
            }
        }
    }
}