.sngup-afterwrap{
    .atf-wrap{
        min-height: 780px;
    }
    .grid{
        height: 100%;
    }
}
.signupbox-wrap{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    .container{
        width: 100%;
        max-width: 600px;
        border-radius: 40px;
        border: solid 1px #333;
        position: relative;
        padding: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        background-color: #1d3557;
        .logo-wrap{
            position: absolute;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            left: 50%;
            transform: translateX(-50%);
            top: -40px;
            background-color: #fff;
            border: solid 1px #1d3557;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 50px;
                height: 50px;
            }
        }
        .title{
            color: aliceblue;
            margin-bottom: 29px;
            font-size: 25px;
        }
        input{
            width: 100%;
            border: 1px solid #000;
            outline: none;
            height: 50px;
            border-radius: 25px;
            background-color: #eaeff7;
            color: #000;
            font-size: 14px;
            padding: 0 20px;
            margin-bottom: 20px;
            &::placeholder{
                color: #000;
            }
        }
       .signup-btn{
            position: absolute;
            width: 80px;
            height: 80px;
            border-radius: 40px;
            display: flex;
            font-weight: 700;
            justify-content: center;
            align-items: center;
            color: #1d3557;
            bottom: -60px;
            left: 50%;
            margin-left: -40px;
            background-color: #fff;
            cursor: pointer;
            transition: all 450ms;
            &:hover{
                transform: scale(1.1);
            }
        }
        .login-link{
            color:#fff;
            position: absolute;
            bottom: 59px;
            right: 100px;
            &:hover{
                text-decoration: none;
            }
            @media only screen and (max-width: 660px){
                bottom: 62px;
                right: 50%;
                transform: translateX(50%);
            }
        }
        @media only screen and (max-width: 660px){
            padding: 90px 30px;
        }
    }
}