.typewriter{
    padding: 20px 0 0;
    font-size: 45px;
    color: #2E4064;
    font-weight: 700;
    text-align: center;
    @media only screen and (max-width: 800px){
        font-size: 37px;
    }
}