.cntct-wrap{
    .atf-wrap{
        background: #fff url('../../../public/images/contact.svg') center / cover no-repeat;
        &:after{
            background-color: rgba(255, 255, 255, 0.7);
        }
        .contact_wrapper{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            position: relative;
            z-index: 1;
            h1{
                font-size: 30px;
                color: #2E4064;
                font-weight: 700;
                display: flex;
                justify-content: center;
                text-align: center;
                padding-bottom: 25px;
            }
            form{
                background: rgb(46, 64, 100, 0.92);
                border-radius: 5px;
                margin: 0 auto;
                max-width: 700px;
                padding: 20px;
                width: 100%;
                p:first-of-type {
                    align-items: flex-start;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                        label{
                            width: 48%;
                                input{
                                    border: none;
                                    border-radius: 5px;
                                    height: 40px;
                                    outline: none;
                                    padding: 0 12px;
                                    width: 100%;
                                }
                        }
                }
                p{  
                    color: #fff;
                    font-size: 14px;
                    textarea{
                        border: none;
                        border-radius: 5px;
                        height: 70px;
                        margin-top: 6px;
                        max-height: 70px;
                        max-width: 100%;
                        min-width: 100%;
                        outline: none;
                        padding: 5px 3px;
                    }
                    &:last-of-type {
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        margin-top: 20px;
                        input{
                            background: #f2f2f2;
                            border: none;
                            border-radius: 5px;
                            color: #2E4064;
                            font-weight: 700;
                            cursor: pointer;
                            font-size: 14px;
                            height: 40px;
                            outline: none;
                            text-transform: uppercase;
                            transition: all .45s;
                            width: 100px;
                            &:hover{
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
            .success-msg{
                font-size: 19px;
                color: #041e38;
                display: flex;
                text-align: center;
                justify-content: center;
                padding-top: 10px;
                font-weight: 700;
                height: 37px;
            }
        }
    }
}