.payment-wrap{
    .atf-wrap{
        min-height: 750px;
        .grid{
            height: 100%;
            .inner-wrap{
                height: 80%;
                min-height: 450px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .left-wrap{
                    h4{
                        color: #2e4064;
                        font-size: 28px;
                        font-weight: 700;
                    }
                    p{
                        font-size: 20px;
                        max-width: 500px;
                        padding: 30px 0;
                        line-height: 1.7;
                    }
                    .btn{
                        background-color: #041e38;
                        border-radius: 5px;
                        color: #fff;
                        cursor: pointer;
                        font-size: 20px;
                        padding: 11px 33px;
                        text-decoration: none;
                        border: none;
                        transition: all 450ms;
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
                .right-wrap{
                    position: relative;
                    width: calc(100% - 600px);
                    height: 100%;
                    img{
                        position: absolute;
                        &.img1{
                            right: 252px;
                            height: 370px;
                            top: 50%;
                            margin-top: -185px;
                            transform: rotate(5deg);
                        }
                        &.img2{
                            right: 0px;
                            height: 300px;
                            top: 50%;
                            margin-top: -150px;
                            transform: rotate(-3deg);
                        }
                    }
                }
            }
            .disc{
                text-align: center;
                width: 100%;
                max-width: 900px;
                margin: 0 auto;
                font-size: 20px;
                color: red;
                span{
                    font-weight: 700;
                }
            }
        }
        @media only screen and (max-width: 1050px){
            min-height: 1080px;
            .grid{
                .inner-wrap{
                    height: auto;
                    min-height: auto;
                    flex-flow: column;
                    .left-wrap{
                        text-align: center;
                    }
                    .right-wrap{
                        width: auto;
                        padding-top: 40px;
                        img{
                            position: relative;
                            &.img1{
                                right: auto;
                                top: auto;
                                margin-top: 0;
                            }
                            &.img2{
                                right: auto;
                                height: 300px;
                                top: auto;
                                margin-top: 0;
                            }
                        }
                    }
                }
                .disc{
                    padding-top: 40px;
                }
            }
        }
        @media only screen and (max-width: 540px){
            .grid{
                .inner-wrap{
                    .right-wrap{
                        img{
                            &.img1{
                                height: 240px;
                            }
                            &.img2{
                                height: 190px;
                            }
                        }
                    }
                }
            }
        }
    }
}