.dtl-todo-wrap{
    h4 {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        color: #2E4064;
        padding: 40px 0;
    }
    .inner-wrap {
        padding: 20px 40px;
        border: solid 1px #2E4064;
        border-radius: 30px;
        width: 100%;
        max-width: 300px;
        text-align: center;
        margin: 0 auto;
        position: relative;
        .list-wrap{
            text-align: left;
            p{
                font-size: 18px;
                margin-top: 7px;
                &:first-of-type{
                    margin-top: 0;
                }
                label{
                    cursor: pointer;
                }
            }
        }
        .btn-wrap{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            .create-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: calc(100% - 30px);
                text-align: center;
                height: 40px;
                background: #2E4064;
                border-radius: 20px;
                color: #fff;
                font-size: 18px;
                font-weight: 700;
                cursor: pointer;
                transition: all 450ms;
                border: none;
                &:hover{
                    transform: scale(1.1);
                }
            }
            .dlt {
                width: 20px;
                height: 20px;
                cursor: pointer;
                transition: all 450ms;
                img{
                    height: 20px;
                }
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}