.crt-todo-wrap{
    h4 {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        color: #2E4064;
        padding: 40px 0;
    }
    .inner-wrap {
        padding: 20px 40px;
        border: solid 1px #2E4064;
        border-radius: 30px;
        width: 100%;
        max-width: 300px;
        text-align: center;
        margin: 0 auto;
        input[type=text] {
            height: 40px;
            outline: none;
            border-radius: 20px;
            padding: 0 20px;
            width: 100%;
            text-align: center;
            border: solid 1px #e3d7d7;
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 700;
        }
        .list-wrap{
            text-align: left;
            margin-top: 20px;
            input[type=text] {
                width: calc(100% - 30px);
                text-align: left;
                font-size: 14px;
                font-weight: 400;
            }
            .list-inner-wrap{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 5px;
                &:first-of-type{
                    margin-top: 0;
                }
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    &.no-show{
                        cursor: default;
                        pointer-events: none;
                    }
                    img{
                        height: 25px;
                    }
                }
            }
        }
        .add-wrap{
            display: flex;
            justify-content: center;
            margin: 10px 0;
            .ad-btn{
                cursor: pointer;
                img{
                    height: 28px;
                }
            }
        }
        .create-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            text-align: center;
            height: 40px;
            background: #2E4064;
            border-radius: 20px;
            color: #fff;
            font-size: 18px;
            font-weight: 700;
            cursor: pointer;
            transition: all 450ms;
            border: none;
            margin-top: 20px;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}