header{
    nav{
       padding: 12px 0;
       display: flex;
       justify-content: space-between;
       align-items: center;
       background: #2e4064;
        img{
            width: 56px;
        }
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                margin-right: 25px;
                .btn{
                    background-color: #041e38;
                    /* position: relative; */
                    /* left: 80px; */
                    /* margin-top: 18px; */
                    font-size: 17px;
                    padding: 11px 33px;
                    border-radius: 5px;
                    cursor: pointer;
                        a{
                            color:#fff;
                            text-decoration: none;
                        }
                    }
                
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}
