header{
    background: #2e4064;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    nav{
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .home-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            background-color: #f2f2f2;
            img{
                width: 43px;
            }
        }
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 20px;
            li{
                margin-right: 25px;
                &.usr-name{
                    font-size: 16px;
                    font-weight: 600;
                    color: #f2f2f2;
                }
                .btn{
                    background-color: #041e38;
                    font-size: 17px;
                    padding: 11px 33px;
                    border-radius: 5px;
                    cursor: pointer;
                    color:#fff;
                    text-decoration: none;
                }
                .logout-btn{
                    img{
                        height: 27px;
                    }
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}
