.aboutus-wrap{
    .heading {
        font-size: 30px;
        font-weight: 700;
        color: #041e38;
        text-align: center;
        padding: 50px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        .column {
            width: 22%;
            .card {
                box-shadow: inset 9px 9px 36px -8px rgb(50 31 0 / 51%);
                padding: 12px;
                border-radius: 5px;
                img {
                    height: 245px;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
                .container {
                    padding: 0 16px;

                    &::after {
                        content: "";
                        clear: both;
                        display: table;
                    }

                    .member-name {
                        color: #041e38;
                        font-size: 20px;
                        font-weight: 800;
                    }
                    .eml{
                        font-size: 13px;
                        padding: 5px 0;
                        a{
                            color: #4c4cef;
                            cursor: pointer;
                        }
                    }

                    .button {
                        border: none;
                        font-size: 16px;
                        outline: 0;
                        display: inline-block;
                        padding: 8px;
                        color: white;
                        background-color: #041e38;
                        text-align: center;
                        cursor: pointer;
                        width: 100%;
                        margin: 15px 0;
                        border-radius: 5px;
                        transition: all 450ms;
                        text-decoration: none;
                        &:hover {
                            transform: scale(1.1);
                        }

                        a {
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                }
            }
            &:first-child{
                .card{
                    img{
                        object-position: top;
                    }
                }
            }
            &:nth-child(2){
                .card{
                    img{
                        object-position: 0 -36px;
                    }
                }
            }
            &:nth-child(3){
                .card{
                    img{
                        object-position: left
                    }
                }
            }
            &:last-child{
                .card{
                    img{
                        object-position: center;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 1090px){
        .atf-wrap{
            min-height: 2200px;
            .row{
                flex-flow: column;
                .column{
                    margin-top: 25px;
                    width: 100%;
                    max-width: 220px;
                    &:first-of-type{
                        margin-top: 0;
                    }
                }
            }
        }    
    }
}